body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4ede4;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.button-container {
    text-align: center;
}
.scan-button {
    background-color: #f8d7da; /* Button background color */
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px; /* Adjust for rounded corners */
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2); /* Optional: Add shadow for 3D effect */
    transition: background-color 0.3s ease; /* Optional: Transition for hover effect */
}
#image-display {
    /* 设置图片容器的最大宽度和高度 */
    max-width: 100%;
    max-height: 500px; /* 或您想要的任何尺寸 */
    overflow: hidden; /* 超出容器的部分将被隐藏 */
    display: flex; /* 使用flex布局以便于居中图片 */
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
  }
  
  #preview-image {
    /* 设置图片的最大宽度和高度 */
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* 保证图片比例正确 */
  }
  
#logo {
    font-weight: bold;
}

#profile-link {
    display: flex;
    align-items: center;
}

#profile-link img {
    margin-left: 8px;
}

#main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#upload-section h1 {
    color: #000;
    text-align: center;
}

#upload-box {
    width: 90%;
    max-width: 400px;
    background-color: #feeae6;
    border: 2px dashed #fcbea4;
    margin-top: 30px;
    text-align: center;
    padding: 50px 20px;
}

#upload-instructions {
    color: #cb8374;
    margin-bottom: 20px;
    cursor: pointer;
}

#upload-button {
    background-color: #fcbea4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* Hover effects */
#upload-button:hover {
    background-color: #cb8374;
}
